rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, write: if false;
    }
    
    match /v1/images/{allPaths=**} {
      allow read: if true
    }
  }
}
